<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_136</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_145</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_152</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_22</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_220</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_56</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
