# https://help.github.com/en/github/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions#jobsjob_idname
name: XcodeProj

on:
  push:
    branches:
      - main
  pull_request: {}

concurrency:
  group: xcodeproj-${{ github.head_ref }}
  cancel-in-progress: true

env:
  MISE_EXPERIMENTAL: 1
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  build:
    name: Build (macOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
      - name: Build
        run: mise run build
  build-linux:
    name: Build (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.0.3"
      - name: Build
        run: swift build --configuration release
  test:
    name: Test (macOS / Xcode)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
      - name: Run tests
        run: mise run test

  test-linux:
    name: Test (Linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
      - uses: swift-actions/setup-swift@v2
        with:
          swift-version: "6.0.3"
      - run: |
          git config --global user.email 'xcodeproj@tuist.dev'
          git config --global user.name 'xcodeproj'
          git config --global init.defaultBranch main
      - name: Test
        run: swift test

  lint:
    name: Lint
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jdx/mise-action@v2
      - run: mise run lint
